#python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/

#--Environment files
#.env
*.local

# Node / Frontend
node_modules/
frontend/dist/
.vite/

#App data
models/
backend/data/db/*.sqllite3
backend/data/db/*.sqllite3-*
backend/data/library/
backend/data/temp/
backend/data/uploads/
backend/data/outputs/
*.log

#windows .exe build artifacts
dist/
build/

# os /  Editor
.DS_Store
Thumbs.db
/idea/
.vscode/
*.swp


